
#heading {
	color: #d82a4e;
	font-size: 80px;
	font-weight: bold;
}

#introd
{
	margin-top: 100px;
	height: 900px;
	margin-bottom: 100px;
}
#introd h3
{
	margin-left: 10px;
	margin-top: 10px;
	color: #dc3545;
}
#introd p 
{
	color: black;
	padding-left: 50px;
	padding-right: 50px;
	margin-top: 10px;
	font-size: 18px;
}
#introd ul 
{
	color: black;
	padding-left: 5px;
	padding-right: 5px;
	margin-top: 10px;
	list-style-type: square;
	font-size: 16px;
	font-size: 18px;
}
#introd img
{
	/*margin-left: 200px;*/
	/*margin-right: auto;*/
}
#introd ol
{
padding-left: 90px;
color: black;
font-size: 16px;
line-height: 35px;
}
#introd ul li
{
	margin-top: 10px;
}
#introd span
{
	font-weight: bold;
	color: #dc3545;
}


#content h1
{
	text-align: center;
	font-size: 50px;
	margin-left: 30px;
	color: white;
	
}


.card
{
	height: 500px;
	margin-top: 90px;	
}
.card img
{
	height: 300px;
	
}
.card:hover
{
	box-shadow: 10px 10px 10px;

}
#content
{
	background-color: white;
	height: 1400px;
}

#fa
{
  padding: 10px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  border-radius: 50px;
}
.fa-facebook {
  background: #3B5998;
  color: white;
}

@media(min-width: 576px)
{
	#introd
	{
		height: 100%;
	}
}
@media(max-width:750px)
{
	#content
	{
		height: 3800px;
	}
}
@media(max-width:576px)
{
	#introd
	{
		height: 100%;
	}
}

#next
{
	float: right;
	font-size: 30px;
	padding-right: 10px;
	padding-bottom: 10px;
}

body {
	height: 100%;
	font-family: 'Raleway', sans-serif;
	
}
.card a:hover
{
	text-decoration: none;
}


.card p {
	font-size: 16px;
	color: black;
	line-height: 2.2;
	font-weight: 500;


}

img {
	max-width: 100%;
}






ul {
	padding: 0;
	margin: 0;
}


.section-title {
	text-align: center;
	padding: 0 110px;
	margin-bottom: 110px;
}

.section-title h2 {
	font-size: 48px;
	font-weight: 600;
	margin-bottom: 25px;
}

.section-title p {
	margin-bottom: 0;
	font-weight: 500;
}

.set-bg {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top center;
}



.site-btn {
	
	min-width: 196px;
	text-align: center;
	border: none;
	padding: 15px 10px;
	font-weight: 600;
	font-size: 16px;
	

	color: #fff;
	cursor: pointer;
	background: #d82a4e;
}

.header-section {
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
	padding-top: 60px;
}

.main-menu
{
	margin-left: 120px;
}
.main-menu a:hover
{
	text-decoration: none;
}

.main-menu ul {
	list-style: none;
}

.main-menu ul li {
	display: inline;
}

.main-menu ul li a {
	display: inline-block;
	font-size: 16px;
	color: #fff;
	margin-left: 45px;
	font-weight: 600;
	padding: 20px 0 5px;
}

.main-menu ul li a:hover {
	color: #d82a4e;
}

.nav-switch {
	display: none;
}
/*------------------
  Hero Section
---------------------*/

.hero-section {
	height: 948px;
}

.hero-text {
	text-align: center;
	padding-top: 340px;
	margin-bottom: 105px;
}

.hero-text h2 {
	font-size: 60px;
	font-weight: 500;
	margin-bottom: 20px;
	color: #d82a4e;
}
.hero-text p
{
	font-size: 20px;
	
}


/*------------------
  Footer section
---------------------*/

.footer-section {
	border-top: 3px solid #d82a4e;
}

.footer-warp {
	max-width: 1559px;
	padding: 0 15px;
	margin: 0 auto;
	margin-top: 10px;
}

.widget-item {
	width: 20%;
	padding: 0 15px;
}

.widget-item h4 {
	margin-bottom: 30px;
}

.widget-item ul {
	list-style: none;
	padding-top: 30px;
}

.widget-item ul li {
	margin-bottom: 10px;
	font-size: 14px;
	font-weight: 500;
	color: #878787;
}


.widget-item ul a {
	color: #878787;
}

.widget-item ul.contact-list li {
	margin-bottom: 27px;
	position: relative;
	padding-left: 10px;
}


/*------------------
    Other Pages
---------------------
=======================*/


.site-breadcrumb {
	padding-top: 215px;
}

.site-breadcrumb a,
.site-breadcrumb span {
	display: inline-block;
	margin-right: 10px;
	padding-right: 10px;
	font-weight: 600;
	font-size: 18px;
}

.site-breadcrumb a {
	color: #fff;
	position: relative;
}

.site-breadcrumb a:after {
	position: absolute;
	content: "/";
	right: -6px;
	top: 0;
	color: #fff;
}

.site-breadcrumb span {
	color: #d82a4e;
}


/*------------------
  Contact Page
---------------------*/

.contact-form-warp {
	background: #d82a4e;
	padding: 45px 47px;
}

.contact-form-warp .section-title {
	padding: 0 15px;
	margin-bottom: 50px;
}

.contact-form-warp {
	padding: 69px 40px 47px;
}




/*------------------
  Responsive
---------------------*/

@media (min-width: 1200px) {
	.container {
		max-width: 1180px;
	}
}


/* Medium screen : 992px. */

@media only screen and (min-width: 992px) and (max-width: 1199px) {
	.main-menu ul li a {
		margin-left: 36px;
	}
	.header-btn {
		min-width: 160px;
	}
	.hero-text h2 {
		font-size: 55px;
	}
}

/* Tablet :768px. */

@media only screen and (min-width: 768px) and (max-width: 991px) {
	.section-title {
		padding: 0;
	}
	.main-menu ul li a {
		margin-left: 20px;
	}
	.header-btn {
		min-width: 90px;
	}
	.hero-text h2 {
		font-size: 43px;
	}
	
	.widget-item {
		width: 33.3333%;
		margin-bottom: 50px;
	}

}

/* Large Mobile :480px. */

@media only screen and (max-width: 767px) {
	.section-title {
		padding: 0;
	}
	.section-title h2 {
		font-size: 40px;
	}
	.header-btn {
		display: none;
	}
	.nav-switch {
		display: block;
		float: right;
		color: #333;
		font-size: 25px;
		width: 40px;
		height: 40px;
		background: #fff;
		text-align: center;
		padding-top: 2px;
		-webkit-box-shadow: 0 0 13px rgba(0, 0, 0, 0.25);
		box-shadow: 0 0 13px rgba(0, 0, 0, 0.25);
	}
	.main-menu {
		background: #fff;
		margin-top: 22px;
		position: absolute;
		width: 100%;
		left: 0;
		top: 100%;
		display: none;
		z-index: 999;
	}
	.main-menu ul li {
		display: block;
	}
	.main-menu ul li a {
		margin-left: 0;
		padding: 17px 25px;
		border-bottom: 1px solid #e8e8e8;
		display: block;
		color: #474747;
	}
	.hero-text {
		margin-bottom: 50px;
	}
	.hero-text h2 {
		font-size: 40px;
	}

	
	.widget-item {
		width: 50%;
		margin-bottom: 50px;
	}
	
}

/* Medium Mobile :480px. */

@media only screen and (max-width: 576px) {
	.hero-section {
		height: auto;
	}
	
	.widget-item {
		width: 100%;
		margin-bottom: 50px;
	}
	-bottom: 20px;
	}
}

/* Small Mobile :320px. */

@media only screen and (max-width: 479px) {
	.section-title h2 {
		font-size: 30px;
	}
}

